/* Scheming and Datapusher+ backwards compatible styling, allows correct display as we move from CKAN 2.10 to CKAN 2.12. Include this css file until ckanext-scheming and ckanext-datapusher+ make their css compatible with CKAN 2.12. See MWDS-476 and MWDS-493 for details on the upstream pull requests.  

Remove this file once the extensions update their css.

*/

.alert-error {
  color: var(--bs-danger-text-emphasis);
  background-color: var(--bs-danger-bg-subtle);
  border-color: var(--bs-danger-border-subtle); 
}