{% ckan_extends %}

{% block help_forgotten %}
<section class="module module-narrow module-shallow">
    <h2 class="module-heading">Login Instructions</h2>
    <div class="module-content">
        <p>
            <b>MWLR Users</b>
        </p>
        <p>
            Use your Manaaki Whenua network credentials to log in. 
        </p>
        <p>
            Note: The user name is the first part of your email address, not your email address in full.
        </p>
    </div>
</section>
{% endblock %}
