.dataset-status-label {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

/* approval/rejection form styling */
.multi-select-reasons {
    font-weight: normal;
}
.multi-select-reasons::after {
    content: "";
}

/* reviewer guidelines banner styling */
/* this code was taken from chat-gpt */
.review-guidelines-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
    padding: 12px 15px;
}

.review-message {
    display: flex;
    align-items: center;
    gap: 8px;
}

.review-guidelines-banner .btn {
    margin-left: 15px;
    white-space: nowrap;
}