.dataset-status-label {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.multi-select-reasons {
    font-weight: normal;
}
.multi-select-reasons::after {
    content: "";
}