  <p>The Manaaki Whenua - Landcare Research DataStore ('the DataStore') is the general data catalogue and repository for Environmental Research Data from <a href="http://www.landcareresearch.co.nz">Manaaki Whenua - Landcare Research NZ</a>.  </p>

  <p>Much of Manaaki Whenua’s research data is available through <a href="http://www.landcareresearch.co.nz/resources/data">specific web pages</a>, but many datasets sit outside these areas.  This repository provides a mechanism for our staff to deposit and document this wider range of datasets so that they may be discovered and potentially re-used.  </p>

  <p>The repository uses the open source <a href="http://ckan.org/">CKAN</a> data portal software.  Reference the DataStore in general using the DOI <a href="https://doi.org/10.7931/mwlr.datastore" target="_blank" rel="nofollow">https://doi.org/10.7931/mwlr.datastore</a>.</p>

  <p>By using this site you agree to the <a href="http://datastore.landcareresearch.co.nz/terms_of_use">Terms of Use</a>  </p>

  <p>Email: <a href="mailto:DataManager@LandcareResearch.co.nz">Research Data Manager</a>  </p>

  <p><a href="https://www.re3data.org/repository/r3d100011662"><img alt="re3data badge" src="https://datastore.landcareresearch.co.nz/dataset/e2eb77d4-2b29-4733-8e2f-3ec6285bf76d/resource/b2b20378-cabf-4b2b-bef8-f3accfc5dfb0/download/re3data-badge-mwlr.png"></a></p>

