{# {% ckan_extends %} #}

{# CKAN__SITE_INTRO_TEXT="**Welcome to the DataStore: The Manaaki Whenua - Landcare Research Data Repository** By using this site you agree to the\n[Terms of Use](https://datastore.landcareresearch.co.nz/terms_of_use)" #}

<div class="module-promotion card box">     
  Welcome to the DataStore: The Manaaki Whenua — Landcare Research Data Repository
    <p> <p>
    By using this site you agree to the  
    <p>  
    <a href="{{url_for('mwlr_datastore.terms_of_use')}}">Terms of Use</a>  
</div>  


      {# {% block home_image_content %}  #}
      {#   <a class="media-image" href="#">  #}
      {#     <img class="img-fluid" src="6-measuring-biodiversity264.jpg" alt="Placeholder" />  #}
      {#   </a>  #}
      {# {% endblock %}  #}

















